<!DOCTYPE html>
<html>

<head>
    <title>Data Vault</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<header>
    <%- include('../partials/instn-Homeheader'); %>
</header>

<body>

    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4 p-3">

                    <div style="width: 20rem;">
                        <img class="card-img-top" src="/images/in2.png" alt="Request data" style="width:100px;height:100px;">
                        <div class="card-body">
                            <h5 class="card-title">Request Data</h5>
                            <p class="card-text">This Activity Request Data of Users from Datavault</p>

                            <a class="btn btn-primary" href="/admin/verify">Enter</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 p-3">

                    <div style="width: 20rem;">
                        <img class="card-img-top" src="/images/in1.png" alt="Enter data" style="width:100px;height:100px;">
                        <div class="card-body">
                            <h5 class="card-title">Add Data</h5>
                            <p class="card-text">This Activity Add Institutions Data to Datavault</p>

                            <a href="/admin/addData" class="btn btn-primary">Enter</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 p-3">

                    <div style="width: 20rem;">
                        <img class="card-img-top" src="/images/in3.png" alt="Request data" style="width:100px;height:100px;">
                        <div class="card-body">
                            <h5 class="card-title">Permission Granted Users</h5>
                            <p class="card-text">This Activity Retun the data of Permission granted Users</p>

                            <a href="" class="btn btn-primary">Enter</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 p-3">

                    <div style="width: 20rem;">
                        <img class="card-img-top" src="/images/in4.png" alt="Request data" style="width:100px;height:100px;">
                        <div class="card-body">
                            <h5 class="card-title">Pending Request's</h5>
                            <p class="card-text">This Activity Retun the Details of Pending Request's</p>

                            <a href="" class="btn btn-primary">Enter</a>
                        </div>
                    </div>

                </div>






            </div>
        </div>

    </section>

</body>

</html>

<script>
    function valForm() {
        console.log("Validating Form");
        return true;
    }
</script>