<!DOCTYPE html>
<html lang="en">

    <body>
        <h3>Welcome To The Dashboard</h3>
        <ul>
            <li>
                <a href="/test">
                    Login
                </a>
            </li>
        </ul>
        <%- res.username%>
    </body>

</html>