<!DOCTYPE html>
<html lang="en">

    <body>
        <h3>Welcome To Decentralized Data Vault</h3>
        <ul>
            <li>
                <a href="/login">
                    Login
                </a>
            </li>
            <li>
                <a href="/register">
                    Register
                </a>
            </li>
        </ul>
    </body>

</html>